mat-sidenav-container {
  min-height: 100vh;
}

.side-nav {
  min-width: 150px;
  background-image: linear-gradient(to bottom right, #000062, black);
}

.side-nav, mat-sidenav-content {
  min-height: inherit;
}

.content {
  margin-top: 64px;
  min-height: calc(100vh - 65px);
  background-color: white;
}

div.content-backdrop {
  background-color: #eeeeee;
  padding-left: 20px;
  padding-top: 20px;
}

div.content-container {
  background-color: white;
  padding: 10px;
  min-height: calc(100vh - 85px);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px;
  font-size: 15px;
  width: 220px;
}

::ng-deep .mat-form-field-infix {
  padding: 0;
  border-top: 0;
}