/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~@circlon/angular-tree-component/css/angular-tree-component.css'; 
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

form {
  display: block;
}

.form-group {
  padding: 15px;
}

input {
  display: inline-block;
}

