<div class="body">
  <h3 class="header">Portfolio</h3>

  <div class="avatar-container">
    <div class="circle">
      <a class="home-button" [routerLink]="['/dashboard']"><span class="material-icons avatar">folder_open</span></a>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="link-container">
    <a class="link" [routerLink]="['/dashboard']"><mat-icon class="link-icon">home</mat-icon>&nbsp;Dashboard</a>
  </div>

  <div class="link-container">
    <a class="link" [routerLink]="['/statistics']"><mat-icon class="link-icon">bar_chart</mat-icon>&nbsp;Statistics</a>
  </div>

  <div class="link-container">
    <a class="link" [routerLink]="['/settings']"><mat-icon class="link-icon">settings</mat-icon>&nbsp;Settings</a>
  </div>
</div>